#
# © 2024-present https://github.com/cengiz-pz
#

# General
*.lock
*.log

# Project-specific
build/
demo/addons
demo/android
demo/ios
ios/godot/
release/

# Godot-specific
demo/.godot/*
!demo/.godot/uid_cache.bin
.import/

# Android-specific
.gradle/
*.jar
!android/gradle/wrapper/gradle-wrapper.jar
*.aar
local.properties

# Android Studio/IntelliJ
.idea/

# iOS-specific
*.d
*.o
*.dblite
Pods/

# Xcode
xcuserdata/
project.xcworkspace/

# macOS
.DS_Store
